*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #F5F5F5;
    color: black;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 24px;
   font-family: "Poppins",sans-serif; 
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
font-size: 25px;
}

.escola-imagem{
    width: 20%;
}

.escola{
    background-color: #FFC600;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}

.escola-div-conteudo{
    width: 35%;
    text-align: center;
}

.escola-titulo{
    font-size: 38px;
    padding: 24px 0;
    text-align: center;
}

.estudante-imagem{
    width: 39%;
}
.estudante-icone{
    width: 35px;

}


.estudante-div{
    text-align: center;
    padding: 20px 20px;
}

.estudante{
    background-color: #F3E2A4;
}

.estudante-titulo{
    text-align: center;
    padding: 30px 0;
    font-size: 32px;

}
.estudante-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.rodape{
     background-color: #F5F5F5;
     text-align: center;
}

.rodape-texto{
    color:#000000;
    font-size: 32px;
    padding: 24px;
}










