*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #F5F5F5;
    color: black;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 24px;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
font-size: 25px;
}

.escola-imagem{
    width: 20%;
}

.escola{
    background-color: #FFC600;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    font-size: 38px;
    padding: 24px 0;
}